 .navbar-first {
     /*position: absolute !important;*/
     z-index: 4;
     width: 100%;
     background-color: #272d35 !important;
 }
 
 .bg-no-color {
     background-color: #ffde01 !important;
 }
 
 .text-no-color {
     color: #ffde01 !important;
 }
 
 .btn-gray {
     color: #000;
     background-color: #dadada;
     border-color: #dadada !important;
 }
 
 .btn-gray:hover {
     color: #fff;
     background-color: #000;
     border-color: #000000;
 }
 
 .btn-no-color {
     color: #000 !important;
     background-color: #ffde01;
     border-color: #ffde01;
     border-radius: 2rem;
 }
 
 .btn-no-color:hover {
     color: #fff !important;
     background-color: #282828;
     border-color: #282828;
 }
 
 .card-row-set {
     margin-right: 0px;
     margin-left: 0px;
 }
 
 .border-radius-10 {
     border-radius: 10px !important;
 }
 
 .border-radius-20 {
     border-radius: 20px !important;
 }
 
 .border-radius-25 {
     border-radius: 25px !important;
 }
 
 .border-radius-30 {
     border-radius: 30px !important;
 }
 
 .border-radius-35 {
     border-radius: 35px !important;
 }
 
 .border-radius-40 {
     border-radius: 40px !important;
 }
 
 .border-radius-45 {
     border-radius: 45px !important;
 }
 
 .border-radius-50 {
     border-radius: 50px !important;
 }
 
 .text-shadow {
     text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
 }
 
 .subscribe {
     border-radius: 50px;
     display: flex;
     width: 100%;
     background: #f1f1f1;
     padding: 10px;
 }
 
 .section-gray {
     background: rgba(226, 226, 226, 0.80);
     padding: 4rem 0rem 4rem 0rem;
     color: #464646;
 }
 
 .section-white {
     background: #fff;
     padding: 2rem 0rem 2rem 0rem;
     color: #000;
 }
 
 .section-light-gray {
     background: #e4e4e4;
     padding: 4rem 0rem 4rem 0rem;
     color: #464646;
 }
 
 .section-blue-gray {
     background: rgb(97, 107, 119);
     padding: 4rem 0rem 4rem 0rem;
     color: #464646;
 }
 
 .grey-section {
     background: #2b2b2b;
     padding: 2em 0em 2em 0em;
     margin-bottom: 0em;
 }
 
 @media screen and (max-width:768px) {
     .section-black {
         background: #000;
         padding: 2rem 0rem 2rem 0rem;
         color: #ffffff;
     }
     .section-white {
         background: #fff;
         padding: 1rem 0rem 1rem 0rem;
         color: #000;
     }
     .section-light-gray {
         background: #e4e4e4;
         padding: 2rem 0rem 2rem 0rem;
         color: #000;
     }
 }
 
 .section-parallax {
     background-image: url(../../Static/img/s2.jpg);
     color: #ffffff;
     background-attachment: fixed;
     background-position: center;
 }
 
 .form-container {
     background-image: url(../../Static/img/bg-home2.jpeg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 80vh;
 }
 
 .parallax {
     background: rgba(0, 0, 0, 0.45);
     padding: 12em 0em 12em 0em;
 }
 
 .parallax-home {
     background: rgba(0, 0, 0, 0.25);
     padding: 10em 0em 10em 0em;
     height: 80vh;
 }
 
 .section-parallax-bg {
     background: rgba(0, 0, 0, 0.8);
     padding: 4rem 0rem 4rem 0rem;
 }
 
 .section-parallax-login {
     background-image: url(../../Static/img/login-bg.jpg);
     color: #ffffff;
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
 }
 
 .section-parallax-login-bg {
     background: rgba(0, 0, 0, 0.25);
     padding: 4rem 0rem 4rem 0rem;
     height: 100vh;
 }
 
 @media screen and (max-width:767px) {
     .section-parallax-login-bg {
         background: #fff;
         padding: 2rem 0rem 2rem 0rem;
         height: 100vh;
     }
     .parallax {
         background: rgba(0, 0, 0, 0);
         padding: 5em 0em 5em 0em;
     }
     .parallax-home {
         background: rgba(0, 0, 0, 0.25);
         padding: 4em 0em 4em 0em;
         height: 30vh;
     }
     .form-container {
         height: 30vh;
     }
 }
 
 .section_header-divider {
     width: 100px;
     height: 7px;
     margin-right: auto;
     margin-left: 0px;
     border: none;
     border-radius: 25px;
     background-image: linear-gradient(50deg, #ffde00, #ffde00);
     box-shadow: 4px 4px 0px rgb(39, 45, 53);
 }
 /*----home page hover box start----*/
 
 .gallery .img-container {
     height: 220px;
     background: #222;
     margin-bottom: 30px;
     padding: 0px;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     position: relative;
     overflow: hidden;
 }
 
 @media (min-width: 1200px) {
     .gallery .img-container {
         height: 200px;
     }
 }
 
 .gallery .img-container .deal-link {
     padding: 15px;
     display: block;
     height: 100%;
     position: relative;
     transition: all 0.25s ease-in-out;
     text-decoration: none;
     cursor: pointer;
 }
 
 .gallery .img-container .deal-link:hover {
     background: rgba(0, 0, 0, 0.65);
     box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.25);
     transition: all 0.25s ease-in-out;
 }
 
 .gallery .img-container .deal-link h3 {
     font-size: 18px;
     color: #ffffff;
     padding-bottom: 10px;
     border-bottom: 2px solid #ffde01;
     position: absolute;
     top: 5%;
     text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
 }
 
 .gallery .img-container .deal-link:hover .btn-more {
     opacity: 1;
     visibility: visible;
     transform: scale(0.92);
     transition: 0.55s cubic-bezier(0.01, -0.32, 0.13, 1.49)
 }
 

 .gallery .img-container .deal-link .btn-more {
     position: absolute;
     font-size: 15px;
     text-align: center;
     bottom: 0px;
     left: 0px;
     top: 0px;
     padding: 10px;
     padding-top: 15%;
     border-radius: 20px;
     right: 0px;
     background: linear-gradient(45deg, #ffffff, #ffde00);
     text-transform: uppercase;
     opacity: 0;
     color: #222222;
     transform: scale(1.25);
     transition: all 0.25s ease;
 }
 
 .gallery .img-container .deal-link * {
     transition: all 0.3s ease;
 }
 
 .gallery .img-container .deal-link .hover-box-content {
     font-size: 20px;
     font-weight: bold;
     transition: 1s;
 }
 /*----home page hover box end----*/
 /*----footer-start----*/
 
 footer {
     background: #303740 !important;
     padding: 40px 0 0 !important;
 }
 
 .footer-link ul li a:hover {
     color: rgb(255, 222, 1);
     transition: .25s;
 }
 
 .footer-link ul li a {
     color: rgba(255, 255, 255, 0.5);
 }
 
 .footer-link ul li {
     list-style: none;
     line-height: 25px;
 }
 
 footer .footer_bottom {
     background: #272d35;
     padding: 20px 10px;
 }
 
 .footer_bottom a i {
     margin-right: 10px;
     font-size: 16px !important;
     opacity: 1;
     color: #282d35;
     background: #ffffff;
     width: 35px;
     height: 35px;
     border-radius: 25px;
     text-align: -webkit-center;
     padding-top: 10px;
     transition: all 0.80s ease-in-out;
 }
 
 .footer_bottom a i:hover {
     color: #282d35;
     background: #ffde01;
     text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
     box-shadow: 0px 2px 5px rgba(2, 2, 2, 0.15);
     transition: all 0.25s ease-in-out;
     transform: translateY(-4px);
 }
 
 .footer_bottom p {
     font-size: 18px;
 }
 /*----footer-End----*/
 
 span.discounted_price {
     margin-right: 5px;
     text-decoration: line-through;
 }
 
 .discount-Percent {
     float: right;
     background-color: #76b51b;
     color: #ffffff;
     font-size: 15px;
     padding: 0px 5px;
     border-radius: 20px;
 }
 
 .two-line-text {
     width: 100%;
     display: -webkit-box;
     max-width: 100%;
     height: 45px;
     margin: 0 auto;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
     overflow: hidden;
     text-overflow: ellipsis;
 }
 
 .reviews-float-right {
     background-color: #6ec017;
     font-size: 15px;
     padding: 2px 12px;
     border-radius: 2px;
 }
 
 i.fa.social-icon {
     background: #131313;
     padding: 15px;
     font-size: 20px;
     color: white;
     text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
     border-radius: 50px;
     text-align: center;
     height: 50px;
     width: 50px;
     margin: 5px;
     transition: 0.50s;
 }
 
 i.fa.social-icon:hover {
     background: #fcdf02;
     color: black;
     box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
     text-decoration: none !important;
     transition: 0.50s;
     transform: rotate(360deg) scale(1.2);
 }
 
 .caption {
     letter-spacing: 0.5px;
     font-size: 18px;
 }
 /* Carasouel Cards Css */
 
 .grid.gallery {
     overflow: hidden;
     box-shadow: 5px 15px 25px -7px rgba(144, 125, 0, 0.25);
     border-radius: 15px;
     /*border: 1px solid #000;*/
 }
 
 .grid figure {
     position: relative;
     float: left;
     overflow: hidden;
     text-align: center;
     cursor: pointer;
     height: 340px;
     width: 100%;
     border: 0px solid #fff;
     border-radius: 25px;
 }
 
 .grid figure img {
     position: relative;
     display: block;
     min-height: 100%;
     max-width: 100%;
     opacity: 1;
     object-fit: cover;
 }
 
 .grid figure figcaption {
     padding: 1em;
     color: #fff;
     text-transform: uppercase;
     font-size: 1.25em;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
 }
 
 .grid figure figcaption::before,
 .grid figure figcaption::after {
     pointer-events: none;
 }
 
 .grid figure figcaption,
 .grid figure figcaption>a {
     position: absolute;
     top: auto;
     bottom: 0;
     left: 0;
     width: 100%;
     text-align: left;
     background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), transparent);
     transition: 0.5s;
 }
 
 .grid figure figcaption>a {
     z-index: 1000;
     text-indent: 200%;
     white-space: nowrap;
     font-size: 0;
     opacity: 0;
 }
 
 .grid figure h2 {
     /*word-spacing: -0.15em;*/
     font-weight: 700;
 }
 
 .grid figure h2 span {
     font-size: 15px;
     text-shadow: 3px 3px 15px #00000050;
 }
 
 .grid figure h2,
 .grid figure p {
     margin: 0;
 }
 
 .grid figure p {
     letter-spacing: 1px;
     font-size: 68.5%;
 }
 /*---------------*/
 /***** Marley *****/
 /*---------------*/
 
 figure.effect-marley:hover figcaption {
     background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 75%, transparent);
     transition: 0.5s;
 }
 
 figure.effect-marley:hover img {
     object-fit: cover;
     transform: scale(1.1) rotate(2deg);
     transition: all 0.5s ease-in-out;
 }
 
 figure.effect-marley h2,
 figure.effect-marley p {
     position: initial;
     right: 30px;
     left: 30px;
     padding: 20px 0;
 }
 
 figure.effect-marley p {
     bottom: 30px;
     line-height: 1.5;
     -webkit-transform: translate3d(0, 100%, 0);
     transform: translate3d(0, 100%, 0);
 }
 
 figure.effect-marley h2 {
     -webkit-transition: -webkit-transform 0.35s;
     transition: transform 0.35s;
     -webkit-transform: translate3d(0, 20px, 0);
     transform: translate3d(0, 70px, 0);
     font-size: 18px !important;
 }
 
 figure.effect-marley:hover h2 {
     -webkit-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
 }
 
 figure.effect-marley h2::after {
     position: absolute;
     top: 100%;
     left: 0;
     width: 100%;
     height: 2px;
     background: #ffde00;
     content: '';
     border-radius: 10px;
     -webkit-transform: translate3d(0, 40px, 0);
     transform: translate3d(0px, 20px, 0);
     transition: 0.5s;
 }
 
 figure.effect-marley h2::after,
 figure.effect-marley p {
     opacity: 0;
     -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
     transition: opacity 0.35s, transform 0.35s;
 }
 
 figure.effect-marley:hover h2::after,
 figure.effect-marley:hover p {
     opacity: 1;
     -webkit-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
     transition: 0.85s;
 }
 /*-----yellow-carousel-START-----*/
 
 .grid3 figure {
     position: relative;
     float: left;
     overflow: hidden;
     width: 220px;
     background: #ffde01;
     text-align: center;
     cursor: pointer;
     height: 220px;
     border: 5px solid #fff;
     border-radius: 50%;
     display: contents;
 }
 
 .grid3 figure figcaption {
     padding: 1em 0em;
     color: #000;
     text-transform: uppercase;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     height: 100%;
 }
 
 figure.effect-marley3 h2 {
     /* top: 30px; */
     -webkit-transition: -webkit-transform 0.35s;
     transition: transform 0.35s;
     -webkit-transform: translate3d(0, 20px, 0);
     transform: translate3d(0, 25px, 0);
     font-size: 15px !important;
     font-weight: 700;
     color: white;
     text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
 }
 
 .owl-carousel-icon .owl-stage-outer {
     position: relative;
     overflow: hidden;
     -webkit-transform: translate3d(0, 0, 0);
     border-radius: 0px !important;
 }
 /*-----yellow-carousel-END-----*/
 /* Carasouel Cards Css */
 /*----sidebar START----*/
 
 .sidebar-show {
     position: fixed;
     top: 0px;
     left: -100%;
     z-index: 1001;
     bottom: 0px;
     height: 100%;
     width: 100%;
     cursor: default;
     transition: width 300ms ease-in-out, height 300ms ease-in-out, top 300ms ease-in-out, left 300ms ease-in-out, bottom 300ms ease-in-out, right 300ms ease-in-out;
     background-color: #fff;
     box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
     overflow: auto;
 }
 
 #sidebar-close-btn {
     position: absolute;
     right: 0px;
     background: #ffde01;
     top: 0;
     padding: 0px;
     cursor: pointer;
     -webkit-text-fill-color: #000;
     width: 52px;
     height: 57px;
     text-align: center;
     opacity: 1;
     line-height: 0;
 }
 
 .sidebarclassadd {
     background-color: rgba(0, 0, 0, 0.7);
     bottom: 0;
     clear: both;
     height: 100%;
     left: 0;
     overflow: auto;
     position: fixed;
     right: 0;
     top: 0;
     width: 100%;
     z-index: 1000;
 }
 
 .sidebar-icon i {
     background: #ececec;
     width: 35px;
     height: 35px;
     border-radius: 25px;
     text-align: center;
 }
 
 .display-nav-none.navbar-collapse {
     display: none !important;
 }
 
 .pp-up {
     color: #5a5a5a;
     text-decoration: none;
     padding: 0px 10px 0px 10px;
 }
 
 .gray-text {
     color: gray !important;
 }
 
 @media screen and (max-width:990px) {
     .display-none-media {
         display: none !important;
     }
 }
 
 @media only screen and (max-width: 992px) {
     form.form-inline.my-2.my-lg-0 {
         line-height: 40px;
         text-align: center;
         border-top: 1px solid #ddd;
         padding-top: 5px;
         display: block;
     }
 }
 /*----sidebar END----*/
 
 .two-line-text {
     width: 100%;
     display: -webkit-box;
     max-width: 100%;
     height: 42px;
     margin: 0 auto;
     font-size: 14px;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
     overflow: hidden;
     text-overflow: ellipsis;
 }
 
 .rating .filled {
     color: orangered;
 }
 
 .pop-up {
     color: #e4e4e4;
     font-weight: normal;
     letter-spacing: 0.04em;
     font: 75%/150% "Lato", Arial, Helvetica, sans-serif;
     padding: 0rem 1rem;
     font-size: 14px;
 }
 
 ul.destination-tab {
     list-style-type: none;
     display: -webkit-inline-box;
 }
 
 .st-menu ul li a {
     display: block;
     padding: 0.72rem 0 !important;
     outline: none;
     color: #353a40;
     letter-spacing: 1px;
     -webkit-transition: background 0.3s, box-shadow 0.3s;
     transition: background 0.3s, box-shadow 0.3s;
 }
 
 .st-menu {
     width: 100%;
     height: 100%;
     background: rgba(255, 255, 255, 0.85);
     -webkit-transition: all 0.5s;
     transition: all 0.5s;
 }
 /*----add new css END  ((((  12-march-2019   ))))----*/
 /*----free-website-css start--------*/
 
 .col-heading-free {
     margin-bottom: 25px;
     margin-top: 15px;
     color: #333333;
     text-align: center;
     font-size: 2.20rem !important;
     letter-spacing: 1px;
     font-weight: 100;
 }
 
 .section-description-free {
     margin-bottom: 20px;
     margin-top: 10px;
     text-align: center;
     font-size: 20px;
     letter-spacing: 1px;
     color: #333333;
     line-height: 33px;
     font-weight: 400;
 }
 
 .search-btn {
     margin-left: -35px;
     top: 0px;
     height: 78px;
     position: absolute;
     width: 78px;
     border-radius: 0%;
     padding: 18px;
     background: #ffde01;
     color: black;
     z-index: 2;
     cursor: pointer;
 }
 /* Tabs*/
 
 section .section-title {
     text-align: center;
     color: #007b5e;
     margin-bottom: 50px;
     text-transform: uppercase;
 }
 
 #tabs {
     background: #ffffff;
     color: #3e3e3e;
 }
 
 #tabs h6.section-title {
     color: #eee;
 }
 
 #tabs .nav-tabs .nav-item.show .nav-link,
 .nav-tabs .nav-link.active {
     background-color: #ffde01;
     border-radius: 50px;
     box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.20);
 }
 
 #tabs .nav-tabs .nav-link {
     border: 1px solid #ffde01;
     color: #313131;
     font-size: 20px;
     border-radius: 50px;
     margin-right: 10px;
     cursor: pointer;
 }
 
 .nav-tabs {
     border-bottom: 0px solid #ddd;
 }
 
 .nav-fill .nav-item {
     -ms-flex: 1 1 auto;
     flex: none;
     text-align: center;
 }
 
 .img-over {
     background: #ffffff;
     border: 1px solid #b7b7b7;
     height: 425px;
     overflow: hidden;
     border-radius: 20px;
     box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.25);
     margin-bottom: 35px;
     position: relative;
     transition: all 0.20s ease-in-out;
 }
 
 .img-over:hover {
     border: 5px solid #ffde01;
     box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
 }
 
 .view-full-btn {
     position: absolute;
     width: 100%;
     height: 100%;
     border-radius: 0px;
     padding-top: 20px;
     background: rgba(0, 0, 0, 0.5);
     text-align: center;
     transition: all 0.25s ease-in-out;
     opacity: 0;
     cursor: pointer;
 }
 
 .img-over:hover .view-full-btn {
     opacity: 1;
     transition: all 0.25s ease-in-out;
     padding-top: 160px;
 }
 
 .view-full-text {
     background: #ffde01;
     padding: 10px 20px;
     cursor: pointer;
 }
 
 .clippy {
     width: 100px !important;
     margin: 0 auto;
     filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.35));
 }
 
 @media screen and (max-width:480px) {
     .clippy {
         width: 60px !important;
     }
 }
 
 .clippy2 {
     width: 100px !important;
     border-radius: 80px;
     box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
 }
 
 .owl-nav>div {
     margin-top: -10px;
     position: absolute;
     top: 150px;
     color: #cdcbcd;
 }
 
 .owl-nav i {
     font-size: 28px;
 }
 
 .owl-nav .owl-prev {
     left: -2.5%;
     background: #fff;
     height: 60px;
     text-align: center;
     width: 60px;
     border-radius: 40px;
     top: 25%;
     color: black;
     padding-top: 16px;
     transition: 0.25s;
     box-shadow: 0 3px 50px rgba(0, 0, 0, 0.16);
 }
 
 .owl-nav .owl-next {
     right: -2.5%;
     background: #fff;
     height: 60px;
     text-align: center;
     width: 60px;
     border-radius: 40px;
     top: 25%;
     color: black;
     padding-top: 16px;
     transition: 0.25s;
     box-shadow: 0 3px 50px rgba(0, 0, 0, 0.16);
 }
 
 .owl-nav .owl-next:hover,
 .owl-nav .owl-prev:hover {
     background: #ffde00;
     color: black;
     transition: 0.25s;
 }
 /*-----------*/
 
 .gallery-stu-cop .img-container {
     height: 385px;
     background: #222;
     margin-bottom: 30px;
     padding: 0px;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
     position: relative;
     overflow: hidden;
     box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
     border-radius: 20px;
 }
 
 .gallery-stu-cop .img-container .deal-link .btn-more {
     position: absolute;
     text-align: center;
     font-size: 25px;
     bottom: 0px;
     border-radius: 20px;
     top: 0px;
     right: 0px;
     left: 0px;
     background: rgba(0, 0, 0, 0.75);
     text-transform: uppercase;
     opacity: 1;
     visibility: hidden;
     padding: 1rem;
     padding-top: 8rem;
     color: white;
     transform: translatey(100%) scale(0);
     transition: all 0.50s ease;
 }
 
 .gallery-stu-cop .img-container .deal-link:hover .btn-more {
     opacity: 1;
     visibility: visible;
     transform: translatey(0%) scale(1);
     transition: 0.5s;
 }
 
 .gallery-stu-cop .img-container .deal-link {
     padding: 15px;
     display: block;
     height: 100%;
     position: relative;
     transition: all 0.25s ease-in-out;
     text-decoration: none;
 }
 
 .gallery-stu-cop .img-container .deal-link:hover {
     background: rgba(0, 0, 0, 0.65);
     box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.25);
     transition: all 0.25s ease-in-out;
 }
 
 .carousel-control-next {
     right: 0%;
     height: auto;
     top: 0px;
 }
 
 .carousel-control-prev {
     left: 0%;
     height: auto;
     top: 0px;
 }
 
 .tabsmenus .rounded-circle {
     width: 50px !important;
     height: 50px;
     display: block;
     margin: 0 auto;
     object-fit: cover;
 }
 
 .tabsmenus .img-fluid {
     border-radius: 20px;
 }
 
 .panel-title {
     margin-top: 0;
     margin-bottom: 0;
     font-size: 16px !important;
     color: inherit;
     padding: 10px;
 }
 
 .panel-default a {
     color: #333;
 }
 
 .panel {
     margin-top: 10px;
 }
 
 .panel-default {
     border-color: #dddddd;
 }
 
 .panel {
     border: 1px solid #dddddd;
 }
 
 .panel-body {
     padding: 15px;
 }
 
 .collapsed {
     cursor: pointer;
 }
 /*----free-website-css end--------*/
 /*----main page css start----*/
 
 .search-input {
     height: 60px !important;
     border-right: 1px solid #c3c3c3 !important;
     border-left: none !important;
     border-top: none !important;
     border-bottom: none !important;
 }
 
 .search-btn {
     margin-left: -35px;
     top: 0px;
     height: 78px;
     position: absolute;
     width: 78px;
     border-radius: 0%;
     padding: 18px;
     background: #ffde01;
     color: black;
     z-index: 2;
     cursor: pointer;
     /* box-shadow: 0px 15px 25px -5px rgba(0, 0, 0, 0.50); */
 }
 
 .mobile-search-box-icon {
     margin-right: 35px;
     top: -14px;
     background: white;
     position: relative;
     float: right;
     z-index: 999;
 }
 
 input.form-control {
     opacity: 1;
     background-color: #fff;
     color: #3e3e3e;
     z-index: 2;
     box-shadow: none !important;
 }
 
 .search-box-icon {
     position: absolute;
     right: 16px;
     top: 20px;
     color: #c3c3c3;
     font-size: 20px !important;
     margin-right: 10px;
     line-height: 10px !important;
     text-shadow: none;
 }
 /*----sidebar bottom START----*/
 
 .sidebar-show-bottom {
     position: fixed;
     top: 0px;
     top: 100%;
     z-index: 1000;
     bottom: 0px;
     height: 100%;
     width: 100%;
     cursor: default;
     transition: width 300ms ease-in-out, height 300ms ease-in-out, top 300ms ease-in-out, left 300ms ease-in-out, bottom 300ms ease-in-out, right 300ms ease-in-out;
     background-color: #fff;
     box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
     overflow-x: hidden;
 }
 
 #sidebar-close-btn-bottom {
     background: #e6e6e6;
     padding: 10px;
     cursor: pointer;
     -webkit-text-fill-color: #000;
     text-shadow: none;
     width: 50px;
     height: 50px;
     opacity: 1;
     border-radius: 50%;
     line-height: 0;
     margin: 10px 15px 0px 0px;
 }
 
 .sidebarclassadd-bottom {
     background-color: rgba(0, 0, 0, 0.7);
     bottom: 0;
     clear: both;
     height: 100%;
     left: 0;
     overflow: auto;
     position: fixed;
     right: 0;
     top: 0;
     width: 100%;
     z-index: 1000;
 }
 /*----sidebar bottom END----*/
 /*----main page css end----*/
 
 .home-rating {
     position: absolute;
     z-index: 2;
     background: #fff;
     top: 15px;
     right: 15px;
     padding: 0px 5px;
     line-height: 0;
     left: auto;
     border-radius: 15px;
 }
 
 ul.rating {
     display: inline-block;
     padding: 4px;
     margin-bottom: 0px;
 }
 
 .rating li {
     list-style-type: none;
     display: inline-flex;
     text-align: center;
     cursor: pointer;
     padding-top: 0px;
 }
 
 .main-tags {
     width: 100%;
     padding: 2px 0;
     display: inline-flex;
     overflow-x: scroll;
 }
 
 ::-webkit-scrollbar {
     width: 6px;
     background: #fff;
     height: 5px;
 }
 
 ::-webkit-scrollbar-thumb {
     background: #7dd4e2;
 }
 
 body::-webkit-scrollbar-thumb {
     background-color: #777777;
 }
 /*----sidebar-collapsed-started----*/
 
 .sidebar-dropddown {
     background: #e4e4e4;
     border-radius: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
     margin-top: 5px;
 }
 
 .accordion:after {
     font-family: FontAwesome;
     content: '\f107';
     color: #000;
     font-weight: 100;
     float: right !important;
     font-size: 20px;
     transition: 0.40s;
     background: #ececec;
     width: 35px;
     height: 35px;
     border-radius: 25px;
     text-align: center;
     padding-top: 2px;
 }
 
 .accordion.collapsed:after {
     content: '\f107';
     transform: rotate(180deg);
     transition: 0.40s;
 }
 /*----sidebar-collapsed-ended----*/
 
 .mobile-search-box {
     top: 20px;
     position: relative;
     width: 90%;
     margin: 0 auto;
     border-radius: 50px;
     padding-left: 20px;
 }
 
 .link-hvr .nav-link {
     background: none;
 }
 
 .link-hvr:hover .nav-link {
     background: #dee2e6;
     color: black !important;
 }
 /*----sidebar Destination END----*/
 /*----index css start----*/
 
 .carousel-item {
     height: 650px;
 }
 
 .object-fit-cover {
     object-fit: cover;
 }
 
 .owl-carousel .item {
     position: relative;
     z-index: 100;
     -webkit-backface-visibility: hidden;
 }
 
 .carousel-item img {
     width: 100%;
     height: 620px;
 }
 
 @media screen and (max-width: 767px) {
     figure.effect-marley3 h2 {
         transform: translate3d(0, 15px, 0);
         font-size: 12px !important;
     }
 }
 
 .owl-carousel-2 .owl-stage-outer {
     padding-bottom: 40px;
 }
 
 @media screen and (max-width:480px) {
     .owl-carousel-2 .owl-stage-outer {
         padding-bottom: 20px;
     }
 }
 
 .owl-next.disabled,
 .owl-prev.disabled {
     display: none !important;
 }
 /*----index css End----*/
 /*----slider-after-before start----*/
 
 #slider1:before {
     content: "";
     display: block;
     position: absolute;
     z-index: -1;
     width: 150px;
     height: 150px;
     border-radius: 100%;
     background: -webkit-linear-gradient(330deg, rgba(255, 74, 158, 0) 45%, rgba(255, 74, 158, .4) 100%);
     background: linear-gradient(210deg, #dcf8ff 45%, rgb(0, 226, 255) 100%);
     left: -90px;
     bottom: -10%;
 }
 
 #slider2:before {
     content: "";
     display: block;
     position: absolute;
     z-index: -1;
     width: 450px;
     height: 450px;
     border-radius: 100%;
     background: -webkit-linear-gradient(330deg, rgba(255, 74, 158, 0.78) 45%, rgba(255, 74, 158, .4) 100%);
     background: linear-gradient(220deg, rgba(255, 74, 158, 0) 40%, rgba(255, 74, 158, 0.59) 100%);
     left: -180px;
     bottom: -8%;
 }
 
 #slider3:before {
     content: "";
     display: block;
     position: absolute;
     z-index: -1;
     width: 100px;
     height: 100px;
     border-radius: 100%;
     background: -webkit-linear-gradient(330deg, rgba(255, 74, 158, 0.78) 45%, rgba(255, 74, 158, .4) 100%);
     background: linear-gradient(120deg, rgba(33, 150, 243, 0.41) 25%, rgba(72, 3, 195, 0.37) 100%);
     left: -320px;
     bottom: 10%;
 }
 /*----slider-after-before end----*/
